* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #18181b;
  color: white;
}

#header {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  align-items: center;
}

#cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  place-items: center;
  padding-left: 100px;
  padding-right: 100px;
  gap: 50px;
}

h2 {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 6px 10px black;
  border-radius: 8px;
  background-color: #202022;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 20px;
  border: solid 2px rgba(255, 255, 255, 0.1);
}

img {
  height: 225px;
  width: 400px;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-10px);
}

a {
  text-decoration: none;
  color: white;
  background-color: #6366f1;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-radius: 8px;
}

a:hover {
  background-color: #3d36b2;
}

@media screen and (max-width: 1520px) {
  #cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #cards-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .card {
    width: 300px;
    height: 300px;
  }

  img {
    height: 150px;
    width: 300px;
  }
}
